html{
    font-size: 10px;
}

nav{
    height: auto;
    padding: 20px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    position: sticky;
    top:0;
    z-index: 555;
    backdrop-filter: blur(10px);
}
.logo{
    font-family: 'Cherry Bomb One', cursive;
    font-weight: 500;
    color: #fff;
}
nav ul{
    display: flex;
    gap:5rem ;
}
nav a{
    color: #fff;
}
nav  a{
    color: #c2bebe;
}
nav ul a:hover ,nav ul a.active{
    color: #fff;
}

.navbtns{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navbtns .registr{
    height: 35px;
    display: flex;
    align-items: center;
   padding: 0rem 1.5rem;
   border-radius: 2rem;
   background-color: transparent;
   border: none;
   color: #c2bebe;
   font-size: 2rem;
   cursor: pointer;
   transition: all 0.3s linear;
}
.navbtns .registr:hover{
   background-color: #fff;
   color: #000;
}
.navbtns .login{
    height: 35px;
    padding: 0rem 2.5rem;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
}
.navbtns .login:hover{
    transform: translate(2px);
}

/* //////////////// */
.home{
    width: 100%;
    height: auto;
}
.section1{
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5vw;
}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 25px;
}
.textbox h1{
    width: 600px;
    font-size: 80px;
    text-align: start;
}
.textbox p{
    width: 450px;
    font-size: 20px;
    text-align: start;
    color: #c2bebe;
}
.btns{
    display: flex;
    gap: 25px;
}
.btns button {
    border: 0.5px solid yellow;
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    font-size: 20px;
    transition: all 0.5s linear;
}
.btns button:hover {
    transform: translate(-3px ,-3px);
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.237);
}

.imgglavni{
    position: absolute;
    top: 5vw;
    right: 15vw;
}

/* ///////////////// */
.section2{
    height: auto;
    background-color: #fff;
    padding: 50px 0;
}
.hisob{
    width: 80%;
    height: 500px;
    margin: 0px auto;
    background-color: rgba(140, 213, 247, 0.442);
}
.hisob h1{
    font-size: 55px;
    color: rgb(53, 52, 52);
}
.hisobheader form{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50px;
    padding: 3vw;
    gap: 10px;
}
.hisobheader form select ,.hisobheader form input{
    font-size: 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 7px;
}
.hisobheader form button{
    border: none;
    background-color: orange;
    font-size: 20px;
    color:black;
    font-weight: bold;
}
.imghisob{
    position: relative;
}

/* //////// */
.section3{
    width: 100%;
    height: auto;
    background-color: #fff;

}
.parcniors{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 80px 0px;
}
.parcniors img{
    height: 100%;
    cursor: pointer;
}

.categorys{
    padding: 50px 20px;
}
.categorys h1{
    font-size: 55px;
    color: #053e54;
    text-align: start;
    line-height: 85px;
}
/* ///////////////////////// */
.about{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px ;
}
.about img{
    width: 100%;
    height: 100%;
}
.img1{grid-column: span 1;}
.img4{grid-column: span 2;}
.img7{grid-column: span 2;}

/* ///////////////////// */
.contact{
    width: 100%;
    height: auto;
}
.map-wrap {
    position: relative;
    width: 50%;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .map {
    position: absolute;
    width: 100%;
    height: 600px;
  }



/* ////////////// */
footer{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    padding: 50px 5vw;
    align-items: start;
    justify-content: start;
    background-color: #e3e3e3;
}
.footerp{
    width: 300px;
    font-size: 16px;
}
footer h4{
    color: black;
}
footer .logo{
    color: black;
    font-size: 35px;
}
footer ul  {
    color: grey;
    text-align: start;
    display: flex;
    flex-direction: column;
}
footer ul {
   font-size: 20px;

}
footer ul a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(142, 142, 142);
    font-weight: 800;
}
footer ul a img{
    width: 40px;
    height: 40px;
}