html{
    font-size: 10px;
}

nav{
    height: auto;
    padding: 20px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    position: sticky;
    top:0;
    z-index: 555;
    backdrop-filter: blur(10px);
}
.logo{
    font-family: 'Cherry Bomb One', cursive;
    font-weight: 500;
    color: #fff;
}
nav ul{
    display: flex;
    gap:5rem ;
}
nav a{
    color: #fff;
}
nav  a{
    color: #c2bebe;
}
nav ul a:hover ,nav ul a.active{
    color: #fff;
}

.navbtns{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navbtns .registr{
    height: 35px;
    display: flex;
    align-items: center;
   padding: 0rem 1.5rem;
   border-radius: 2rem;
   background-color: transparent;
   border: none;
   color: #c2bebe;
   font-size: 2rem;
   cursor: pointer;
   transition: all 0.3s linear;
}
.navbtns .registr:hover{
   background-color: #fff;
   color: #000;
}
.navbtns .login{
    height: 35px;
    padding: 0rem 2.5rem;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
}
.navbtns .login:hover{
    transform: translate(2px);
}

/* //////////////// */
.home{
    width: 100%;
    height: auto;
}
.section1{
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5vw;
}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 25px;
}
.textbox h1{
    width: 600px;
    font-size: 80px;
    text-align: start;
}
.textbox p{
    width: 450px;
    font-size: 20px;
    text-align: start;
    color: #c2bebe;
}
.btns{
    display: flex;
    gap: 25px;
}
.btns button {
    border: 0.5px solid yellow;
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    font-size: 20px;
    transition: all 0.5s linear;
}
.btns button:hover {
    transform: translate(-3px ,-3px);
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.237);
}

.imgglavni{
    position: absolute;
    top: 5vw;
    right: 15vw;
}

/* ///////////////// */
.section2{
    height: auto;
    background-color: #fff;
    padding: 50px 0;
}
.hisob{
    width: 80%;
    height: 500px;
    margin: 0px auto;
    background-color: rgba(140, 213, 247, 0.442);
}
.hisob h1{
    font-size: 55px;
    color: rgb(53, 52, 52);
}
.hisobheader form{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50px;
    padding: 3vw;
    gap: 10px;
}
.hisobheader form select ,.hisobheader form input{
    font-size: 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 7px;
}
.hisobheader form button{
    border: none;
    background-color: orange;
    font-size: 20px;
    color:black;
    font-weight: bold;
}
.imghisob{
    position: relative;
}

/* //////// */
.section3{
    width: 100%;
    height: auto;
    background-color: #fff;

}
.parcniors{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 80px 0px;
}
.parcniors img{
    height: 100%;
    cursor: pointer;
}

.categorys{
    padding: 50px 20px;
}
.categorys h1{
    font-size: 55px;
    color: #053e54;
    text-align: start;
    line-height: 85px;
}
/* ///////////////////////// */
.about{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px ;
}
.about .img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.about .img:hover img{
    transform: scale(1.2);
}
.about .img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
}
.img1{grid-column: span 1;}
.img4{grid-column: span 2;}
.img7{grid-column: span 2;}

/* ///////////////////// */
.contact{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:"img img img img"
                        "map map text text" 
                        "map map text text" ;
}
.map-wrap {
    position: relative;
    width: 100%;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    grid-area: map;
  }
  .contactimgfone{
    width: 100%;
    height: auto;
    grid-area: img;
  }
  .map {
    position: absolute;
    width: 100%;
    min-height: 600px;
    border-radius: 15px;

  }
  .textblock{
    grid-area: text;
  }

  .textblock{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textblock h1{
    font-size: 55px;

  }
  .textblock form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .textblock form label{
   font-size: 25px  ;
  }
  .textblock form input{
   font-size: 25px  ;
   border: none;
   outline: none;
   width: 75%;
   padding: 10px;
   border-radius: 10px;
  }
  .textblock form textarea{
   font-size: 25px  ;
   border: none;
   outline: none;
   width: 75%;
   padding: 10px;
   border-radius: 10px;
  }
  .textblock form button{
   font-size: 25px  ;
   border: 1px solid rgb(109, 109, 109);
   outline: none;
   padding: 10px;
   border-radius: 10px;
   background-color: #053e54;
   color: white;
  }
  .textblock a{
   font-size: 25px  ;
   border: 1px solid rgb(109, 109, 109);
   outline: none;
   padding: 10px;
   border-radius: 10px;
   background-color: #053e54;
   color: white;
  }

/* //////////////////// */




.registr  h1{
  font-size: 55px;

}
.registr  form{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  margin: 30px auto;
  padding: 20px;
  background-color: #2d3132;

}
.registr  form label{
 font-size: 25px  ;
}
.registr  form input{
 font-size: 25px  ;
 border: none;
 outline: none;
 width: 70%;
 padding: 10px;
 border-radius: 10px;
}
.registr  form textarea{
 font-size: 25px  ;
 border: none;
 outline: none;
 width: 75%;
 padding: 10px;
 border-radius: 10px;
}
.registr  form button{
 font-size: 25px  ;
 border: 1px solid rgb(109, 109, 109);
 outline: none;
 padding: 10px 20px;
 width: 400px;
 border-radius: 10px;
 background-color: #053e54;
 color: white;
}
.registr  a{
 font-size: 25px  ;
 border: 1px solid rgb(109, 109, 109);
 outline: none;
 padding: 10px;
 border-radius: 10px;
 color: white;
 text-decoration: underline;
}
/* ////////////// */


.login  h1{
    font-size: 55px;
  
  }
  .login  form{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin: 30px auto;
    padding: 20px;
    background-color: #2d3132;
  
  }
  .login  form label{
   font-size: 25px  ;
  }
  .login  form input{
   font-size: 25px  ;
   border: none;
   outline: none;
   width: 70%;
   padding: 10px;
   border-radius: 10px;
  }
  .login  form textarea{
   font-size: 25px  ;
   border: none;
   outline: none;
   width: 75%;
   padding: 10px;
   border-radius: 10px;
  }
  .login  form button{
   font-size: 25px  ;
   border: 1px solid rgb(109, 109, 109);
   outline: none;
   padding: 10px 20px;
   width: 400px;
   border-radius: 10px;
   background-color: #053e54;
   color: white;
  }
  .login  a{
   font-size: 25px  ;
   border: 1px solid rgb(109, 109, 109);
   outline: none;
   padding: 10px;
   border-radius: 10px;
   color: white;
   text-decoration: underline;
  }
  /* ////////////// */






/* ////////////// */
footer{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    padding: 50px 5vw;
    align-items: start;
    justify-content: start;
    background-color: #e3e3e3;
}
.footerp{
    width: 300px;
    font-size: 16px;
}
footer h4{
    color: black;
}
footer .logo{
    color: black;
    font-size: 35px;
}
footer ul  {
    color: grey;
    text-align: start;
    display: flex;
    flex-direction: column;
}
footer ul {
   font-size: 20px;

}
footer ul a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(142, 142, 142);
    font-weight: 800;
}
footer ul a img{
    width: 40px;
    height: 40px;
}