
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'PT Sans', sans-serif;
}
.wrapper {
  text-align: center;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background-color: #0C111F;
  margin: 0 auto;
  color: white;
}


.cursor{
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: #cce9f139 1px solid;
  border-radius: 50%;
  border: 1px rgb(15, 170, 248) solid;
}

